@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App{
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  background-image: url('./static/matrix.jpeg')
}
